$color-blue: #3D58A6;
$text-color:#58595B;
$color-white: white;
$color-lightblue: #BDCCD4;
$color-black:yellow;
$color-bg: #F2F2F2;


$font: 22px;
$bigfont: 30px;
$ptext: 20px;


$imgh: 30px;
$imgw: 30px;

